<section class="flex flex-col md:flex-row items-center space-y-8 md:space-y-0 md:space-x-12">
    <div class="flex-shrink-0">
        <img src="assets/profile.jpg" alt="Profile Picture" class="w-40 h-40 sm:w-48 sm:h-48 rounded-full object-cover border-4 border-orange-500/50" style="object-position: center 25%">
    </div>
    <div class="text-center md:text-left">
        <h1 class="text-4xl sm:text-5xl font-bold">Hello, I'm Harin Bandarupalli</h1>
        <p class="text-lg text-gray-500 mt-2 font-bold">A full stack developer based in Frederick, MD</p>
        <p class="mt-4 max-w-lg text-gray-300">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <div class="mt-6 flex items-center space-x-4">
            <a href="https://github.com/harinbandarupalli?tab=repositories" target="_blank" rel="noopener noreferrer" class="inline-block bg-gray-700 hover:bg-gray-600 text-white font-bold py-3 px-6 rounded-lg transition duration-300">
                View My Work
            </a>
            <a href="assets/cv.pdf" download="Harin_Bandarupalli_CV.pdf" class="inline-block bg-gray-700 hover:bg-gray-600 text-white font-bold py-3 px-6 rounded-lg transition duration-300">
                Download CV
            </a>
        </div>
    </div>
</section>